/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.icon-mask {
  background-color: #2E0073;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
}